<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    <!-- CDN BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}">
    <!-- CDN Bundle FullCalendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    {% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<body>
    <!-- HEADER -->
    <header class="container-fluid px-0">
        <div class="custom-control custom-switch pr-3 pt-3 text-right">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1" onclick="myFunction()">Dark</label>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg border-bottom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('accueil')}}">Accueil <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('actualites')}}">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('scolarite')}}">Scolarité</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('viescolaire')}}">Vie Scolaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=" {{path('communication')}} ">Communication</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('easyadmin')}}">Administration</a>
                    </li>
                    {% else %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('parametres')}}">Paramètres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}

    </header>
    {% block body %}
    {% endblock %}
    <!-- CDN Bundle FullCalendar -->
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.0/js/bootstrap-colorpicker.min.js"></script>
    <!-- SCRIPT JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>
    <script src="https://use.fontawesome.com/4d52a34aef.js"></script>
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
</body>

</html>